/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
1. 项目名称：悟空找房h5
2. 文件名称：city -> list.less (城市列表)
3. 作者：liyang@lifang.com
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@import "../variables.less" ;
@import "../mixins.less" ;
body{
  background: #F0F0F0;
}
.dic-name{
  >span{
    display: block;
    background-color: @default-color;
    line-height: 2.1rem;
    font-size: 1.4rem;
    color: @light-font-color;
    font-weight: 400;
    letter-spacing: 0;
  }
}