@import "../variables.less" ;
@import "../mixins.less" ;

.icon-back {
    position: absolute;
    left: 1.5rem; 
    top: 1rem;
    font-size: 1.5rem;
    z-index: 10000;
    //color: #fff;
}
html{
    height: 100%;
    body {
        height: 100%;
    }
}
div {
    height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .flex();
    .align-items(center);
    .justify-content(center);

    video {
        width: 100%;
    }
}
