/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：yfyk2h5
 2. 文件名称：src -> less -> normalize.less (整个应用的常用的class)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 通体透明
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.transparent {
    .transparent() ;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 禁用全角输入法
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.ime-disabled {
    ime-mode: disabled ;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 上下左右边界定义
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.top-gap {
    margin-top: @gap-dimension ;
}

.right-gap {
    margin-right: @gap-dimension ;
}

.bottom-gap {
    margin-bottom: @gap-dimension ;
}

.left-gap {
    margin-left: @gap-dimension ;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
上下和左右padding设置
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.lr-padding {
    padding-left : 1.5rem ;
    padding-right : 1.5rem ;
}
.tb-padding {
    padding-top : 1.5rem ;
    padding-bottom : 1.5rem ;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
文本颜色
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.text-success {
    color : @success-color ;
}
.text-primary {
    color : @primary-color ;
}
.text-warning {
    color : @warning-color ;
}
.text-info {
    color : @info-color ;
}
.text-danger {
    color : @danger-color ;
}
.text-ellipsis {
    .text-ellipsis() ;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
浮动
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.pull-left {
    display : block ;
    float : left ;
}
.pull-right {
    display : block ;
    float : right ;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 任何一个容器，最右边如果需要一个可选择的标识，就是向右的箭头，就加这个class
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.selectable-flag {    
    position : relative ;
    &:after {
        border-style : solid ;
        border-color : @dark-line-gray-color ;
        border-width : 1px 1px 0 0 ;
        content : " " ;
        display : block ;
        height : .6rem ;        
        position : absolute ;
        .rotate(45deg) ;
        right : .2rem ;
        top : .8rem ;
        width : .6rem ;
    }
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 图片样式
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 .img-responsive {
     display : block ;
     max-width : 100% ;
     height : auto ;
 }
.img-circle {
    display : inline-block ;
    .border-radius(100px) ;
}
.img-radius {
    display : inline-block ;
    .border-radius(5px) ;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 定义VUE的transition样式，统一用slide-fade
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 .slide-fade-enter-active , .slide-fade-leave {
    transition : all 2s ease ;
}
.slide-fade-enter, .slide-fade-leave-active {
    opacity : 0 ; 
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 列表数据加载完毕提示字样
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.no-more {
    border-top : 1px solid @lighter-line-gray-color ; 
    color : @light-font-color ;
    font-size : 1.1rem ;
    line-height : 25px ;
    padding : 5px ;
}