/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
1. 项目名称：悟空找房h5
2. 文件名称：rent -> list.less (租房详情页)
3. 作者：liyang@lifang.com
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import "../variables.less";
@import "../mixins.less";
@import "../components/rent-items.less";

body{
  background-color: #F0F0F0;
}

/*<!--条件选择-->*/
.rent-list{
  width: 100%;
  /*height: 4.5rem;*/
  background-color: @tag-background-color;
  position: fixed;
  top: 0;
  z-index: 12;
  //box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
  &:after {
      border-bottom : 1px solid #e8e8e8 ;
      bottom : -1px ;
      content : "" ;
      height : 1px ;
      position : absolute ;
      right : 0 ;
      transform: scaleY(0.5) ;
      -webkit-transform: scaleY(0.5) ;
      width : 100% ;
  }
  >ul{
    flex-direction: row;
    display: -webkit-flex;
    >li{
      /*flex: 1;*/
      width: 9.375rem;
      line-height: 4.5rem;
      text-align: center;
      font-size: 1.4rem;
      color: #000;
      letter-spacing: 0;
      >p{
        display: inline-block;
        font-size: 1.6rem;
        max-width: 79%;
        color: #000;
        .text-ellipsis() ;
      }
      >span{
        display: inline-block;
        width: .9rem;
        height: .4025rem;
        /* border: 1px solid; */
        position: relative;
        overflow: hidden;
        margin-left: 0.5rem;
      >i{
        display: inline-block;
        width: .6rem;
        height: .6rem;
        background-color: #999;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: absolute;
        left: 0.1rem;
        bottom: 0.05rem;
        top: -4px;
      }
      }
    }
    >.active-color-top{
      color: @primary-color;
      >p{
        color: @primary-color !important;
      }
    }
  }
  >.rent-search{
    padding: 1rem 0.5rem 0 1rem;
    >i{
      display: inline-block;
      width: 2rem;
      height: 1.4rem;
      font-size: 1.3rem;
      font-weight: 300;
    }
    >.search-input{
      display: inline-block;
      margin-left: 0.5rem;
      width: 76.9%;
      position: relative;
      >.icon-search{
        display: inline-block;
        width: 28px;
        height: 25px;
        position: absolute;
        left: 1.5rem;
        top: 0.75rem;
      }
      >.icon-close{
        display: none;
        width: 28px;
        height: 25px;
        color: #000;
        position: absolute;
        right: 0.5rem;
        top: 0.75rem;
      }
      >.input-kw-form{
        width: 100%;
        height: 3rem;
        >input{
          height: 3rem;
          width: 100%;
          background: @default-color;
          border-radius: 6px;
          border:  none;
          outline: none;
          padding-left: 3.4rem;
          padding-right: 3.5rem;
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #7C7C7C; opacity:1;
          }

          &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #7C7C7C;opacity:1;
          }

          &:-ms-input-placeholder{
            color: #7C7C7C;opacity:1;
          }

          &::-webkit-input-placeholder{
            color: #7C7C7C;opacity:1;
          }
          -webkit-appearance: none;
        }
        input[type="search"]::-webkit-search-cancel-button{
          display: none;
        }
      }
    }
    >.channel{
      >.icon-hanbao{
        display: inline-block;
        font-size: 2rem;
      }
    }
  }

}
/*头部的符合今日头条的线条*/
.rent-list-und{
  position: relative;
  &:after{
    content: '';
    height: 1px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleY(0.5);
  }
}

.all-control{
  margin-top: 8.5rem;
  overflow-x: hidden;
 /* background-color: #ffffff;*/
}
/*<!--房源总数-->*/
.total-num{
  width: 100%;
  height: 3rem;
  background-color: @default-color;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    border-top: 1px solid @light-line-gray-color;
    -webkit-transform:scaleY(0.5) ;
  }
  >p{
    font-size: 1.2rem;
    color: @primary-color;
    line-height: 3rem;
    text-align: center;
  }
}
/*区域模块样式*/
.dic{
  width: 100%;
 /* max-height:80% ;*/
  background-color: @tag-background-color;
  position: fixed;
  top:8.5rem;
  z-index: 11;
  .tabs{
    background-color: @default-color;
    height: 4.4rem;
    width: 100%;
    position: relative;
    &:after{
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -1px;
      left: 0;
      border-top: 1px solid @light-line-gray-color;
     /* box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);*/
         transform: -webkit-scaleY(0.5);
    }
    >ul{
      .flex();
      flex-direction: row;
      height: 4.4rem;
      width: 100%;
      >li{
        .flex(1);
        text-align: center;
        line-height: 4.4rem;
        font-size: 1.6rem;
        color: #000000;
        &.active-color-dic{
          color: @primary-color;
          border-bottom:3px solid @primary-color;
        }
      }
    }
  }
  .content{
    width: 100%;
    /*max-height: 40rem;*/
    >.dic-content,.metro-content{
      width: 100%;
      /*max-height: 40rem;*/
      .flex();
      flex-direction: row;
      >.content-left{
        .flex(1);
        /*max-height: 40rem;*/
        overflow-y:scroll;
        >ul{
          >li{
            width: 100%;
            height: 4.4rem;
            line-height: 4.4rem;
            font-size: 1.5rem;
            color: #000000;
            padding-left: 1.5rem;
          }
        }
      }
      >.content-right{
        .flex(1);
        /*max-height: 40rem;*/
        overflow-y:scroll;
        background-color: @default-color;
        >ul{
          >li{
            width: 100%;
            height: 4.4rem;
            line-height: 4.4rem;
            font-size: 1.5rem;
            color: #000000;
            padding-left: 1.5rem;
          }
        }
      }
    }
  }

}

/*价格模块样式*/
.price-total{
  width: 100%;
  max-height:44.4rem ;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: @default-color;
  position: fixed;
  top:8.5rem;
  z-index: 11;
  >.price-list{
    max-height: 16rem;
    overflow-y: scroll;
    >ul{
      >li{
        font-size: 1.5rem;
        color: #000000;
        letter-spacing: 0;
        line-height: 4.4rem;
        text-align: center;
      }
    }
  }
  >.writ-price{
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    position: relative;
    text-align: center;
    z-index: 20;
/*    border:  1px solid #000;*/
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 1px;
      width: 100%;
      border-top: 1px solid @light-line-gray-color;
      -webkit-transform:scaleY(0.5) ;
    }
     >input{
       width: 28.98%;
       height: 3.3rem;
       background: @title-background-color;
       border-radius: 0.4rem;
       border: none;
       outline: none;
       text-align: center;
       color: #92A7C3;
      /* border:  1px solid #000;*/
       &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color: #92A7C3; opacity:1;
       }

       &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color: #92A7C3;opacity:1;
       }

       &:-ms-input-placeholder{
         color: #92A7C3;opacity:1;
       }

       &::-webkit-input-placeholder{
         color: #92A7C3;opacity:1;
       }
     }
    >button{
      width: 31%;
      height: 3.3rem;
      margin-left:1rem ;
      background: @primary-color;
      border-radius: 0.4rem;
      font-size: 1.4rem;
      color: @default-color;
      letter-spacing: 0;
      line-height: 1.2rem;
      border: none;
      outline: none;
    }
    >span{
      color: @light-font-color;
      /*width: 0.052%;*/
     /* text-align: center;
      display: inline-block;*/
    }
  }
}

/*房型模块样式*/
.house-type{
  width: 100%;
  max-height:44.4rem ;
  padding: 1.5rem  1rem;
  background-color: @default-color;
  position: fixed;
  top:8.5rem;
  z-index: 11;
  >.house-list{
    >ul{
      width: 100%;
      text-align: center;
      position: relative;
      left: 0.2rem;
      >li{
        width: 31%;
        height: 3.3rem;
        background: @tag-background-color;
        border-radius: 0.4rem;
        display: inline-block;
        font-size: 1.2rem;
        color: #000000;
        letter-spacing: 0;
        line-height: 3.3rem;
        text-align: center;
        margin-bottom: 0.9rem;
        margin-right: 0.3rem;
      }

    }
  }
  >.house-conf{
    width: 100%;
    padding: 2rem 0 0.5rem 0;
    text-align: center;
    margin-top: 1.1rem;
    position: relative;
    &:before{
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      top:0;
      left: 0;
      border-top: 1px solid @light-line-gray-color;
         transform: -webkit-scaleY(0.5);
    }
    >button{
      width: 15.5rem;
      height: 3.6rem;
      background: @primary-color;
      border-radius: 0.4rem;
      outline: none;
      border: none;
      font-size: 1.3rem;
      color: @default-color;
      letter-spacing: 0;
    }
  }
}

/*排序样式*/
.sort-chose{
  background: @default-color;
  width: 100%;
  z-index: 14;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  >ul{
    width: 100%;
    >li{
      width: 100%;
      height: 4.5rem;
      line-height: 4.5rem;
      text-align: center;
      position: relative;
      &:not(:first-child):before{
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-top: 1px solid @light-line-gray-color;
        transform: -webkit-scaleY(0.5);
      }
    }
  }
}
/*价格和排序选择后样式*/
.chosed{
  color: @primary-color !important;
  >p{
    color: @primary-color !important;
  }
}
.bacchosed{
  background-color: @primary-color !important;
}
.areas-subway{
  background-color: @default-color !important;
}
.active-house{
  background-color:@default-color !important;
  border: 1px solid @primary-color !important;
  color:@primary-color !important;
}
/*搜索框启用的样式*/
.active-search{
  background-color: @default-color !important;
  width: 100% !important;
  padding-bottom: 1rem !important;
  >.search-input{
    width: 88% !important;
    height: 2.8rem !important;
    >.icon-search{
      display: none !important;
    }
    >.input-kw-form{
      >input{
        background-color: #F0F0F0 !important;
        padding-left: 1rem !important;
      }
    }

  }
}
.on-hide{
  display: none !important;
}
/*箭头指向*/
.direction{
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  >i{
    background-color: @primary-color !important;
  }
}
/*更多模块样式*/
.more{
  width: 100%;
  max-height:80% ;
  padding: 1.5rem  1rem;
  background-color: @default-color;
  position: fixed;
  top:8.5rem;
  z-index: 11;
  overflow-y:scroll ;
  >.more-spec,>.area,>.decoration{
    padding-bottom: 0.5rem;
    position: relative;
    &:after{
      content: '';
      height: 1px;
      width: 100%;
      border-top: 1px solid @light-line-gray-color;;
      transform: -webkit-scaleY(0.5);
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
    >p{
      font-size: 1.5rem;
      color: @default-font-color;
      letter-spacing: 0;
      line-height: 1.4rem;
      margin-bottom: 1rem;
    }
    >ul{
      width: 100%;
      /*text-align: center;*/
      >li{
        width: 22%;
        display: inline-block;
        background-color: @tag-background-color;
        border-radius: 0.3rem;
        line-height: 3.3rem;
        text-align: center;
        font-size: 1.2rem;
        color: #4E4E4E;
        margin-bottom: 1rem;
        border: 1px solid @tag-background-color;
        &:not(:last-child){
          margin-right: 1.5%;
        }
      }
    }
  }
  >.area,>.decoration{
    padding-top: 1rem;
  }
  >.butt-group{
    width: 100%;
    text-align: center;
    >p{
       width: 45%;
       display: inline-block;
       margin-top: 2.5rem;
      line-height: 3.6rem;
      border-radius: 0.4rem;
      font-size: 1.3rem;
      &.canl{
        border: 1px solid @primary-color;
        color: @primary-color;
        letter-spacing: 0;
        left: 3.6rem;
        margin-right: 2rem;
      }
      &.conf{
        background: @primary-color;
        color: @default-color;
        letter-spacing: 0;
      }
    }
  }
}
/*背景罩层*/
.bac{
  width: 100%;
  position: fixed;
  top:4.5rem;
  bottom: 0;
  z-index: 10;
  opacity: 0.5;
  background-color: #000000;
}
/*排序*/
.sort{
  width: 6.8rem;
  height: 2.9rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 9;
  background: @default-color;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.30);
  border-radius: 100px;
  text-align: right;
  padding-right: 1.4rem;
  >.icon-paixu{
    font-size: 1.2rem;
  }
  >span{
    font-size: 1.2rem;
    color: @default-font-color;
    letter-spacing: 0.92px;
    line-height: 2.9rem;
  }
}
.sort-change{
  >.icon-paixu{
    color:@primary-color !important;
  }
  >span{
    color:@primary-color !important;
  }
}
/*搜索条件之后没有房源的样式*/
.no-rent-item {
  /*background-color: @default-color;*/
  text-align: center;
/*  margin-top: 4.5rem;*/
  > .show-no {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: @default-color;
    > .disc-one {
      font-size: 1.6rem;
      color: #000000;
      letter-spacing: -0.2px;
    }
    >.disc-two{
      font-size: 1.6rem;
      color: @light-font-color;
      letter-spacing: -0.2px;
    }
    >.clear{
      width: 92%;
      background: #F0F0F0;
      border-radius: 6px;
      font-size: 1.4rem;
      color: #7c7c7c;
      line-height: 4.5rem;
      height: 4.5rem;
      display: inline-block;
      margin-top: 2.5rem;
    }
  }
  >.guess-like{
    margin-top: 1rem;
    padding: 0 0 4rem 1.5rem;
    background-color: @default-color;
    >.panel-header{
      text-align: left;
    }
  }
}
.rent-items{
  background-color: @default-color;
  padding: 2rem 1.5rem;
}

.search-result{
margin-top: 4.8rem;
  >.no-result{
     background-color: @default-color;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    >p{
      font-size: 1.6rem;
      color: @default-font-color;
      letter-spacing: 0;
    }
    >span{
      font-size: 1.2rem;
      color: @light-font-color;
      letter-spacing: 0;
      line-height: 1.2rem;
    }
  }
  > .have-result {
    > p {
      height: 2.7rem;
      line-height: 2.7rem;
      width: 100%;
      padding-left: 1.5rem;
      font-size: 1.4rem;
      color: @light-font-color;
      letter-spacing: 0;
    }
    > .result-history {
       background-color: @default-color;
      >ul{
        >li{
          height: 6rem;
          padding-top: 1rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          position: relative;
          &:after{
            content: '';
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            border-top: 1px solid @light-line-gray-color;
            -webkit-transform:scaleY(0.5) ;
          }
         >p{
           font-size: 1.6rem;
           color: @default-font-color;
           letter-spacing: 0;
           .text-ellipsis();
         }
          >span{
            font-size: 1.2rem;
            color: @light-font-color;
            letter-spacing: 0;
            line-height: 1.2rem;
            .text-ellipsis();
          }
        }
      }
      >p{
        height: 4.5rem;
        line-height: 4.5rem;
        text-align: center;
        font-size: 1.4rem;
        color: #92A7C3;
      }
    }
  }
  > .show-result {
    background-color: @default-color;
    > ul {
      padding-left: 1.5rem;
      > li {
        height: 4rem;
        padding-right: 1.5rem;
        position: relative;
        padding-top: 0.4rem;
        &:not(:first-child):before{
          content: '';
          height: 1px;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-top: 1px solid @light-line-gray-color;
          -webkit-transform:scaleY(0.5) ;
        }
        >p{
          font-size: 1.2rem;
          color: @default-font-color;
          letter-spacing: 0;
          .text-ellipsis();
          >span{
            color: @primary-color;
            position: relative;
            top: -1px;
            .text-ellipsis();
          }
        }
        >span{
          font-size: 1rem;
          color: @light-font-color;
          letter-spacing: 0;
          line-height: 1.2rem;
          >span{
            color: @primary-color;
            position: relative;
            top: -1px;
          }
        }
      }
    }

  }
}

.wrong{
  position: fixed;
  top: 45%;
  left: 27%;
  background-color: #000;
  z-index: 14;
  opacity: 0.5;
  display: none;
  padding: 1rem;
  border-radius: 6px;
  >p{
    color: @default-color;
    font-size: 1.4rem;
  }
}
.rent-item.box .right{
  text-align: left;
}
.rent-item.box .right .base-info{
  padding-top: 0.2rem;
}
.wk-tips{
  background-color: #ffffff;
  opacity: 0;
}
.tags{
  height: 2rem;
  overflow: hidden;
  >span{
    display: inline-block;
  }
}
.channel{
  display: inline-block;
  >p{
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #92A7C3;
    letter-spacing: 0;
  }
}
.active-search-channel{
  background-color: @default-color !important;
  width: 100% !important;
  padding-bottom: 1rem !important;
  >.search-input{
    margin-left: 0 !important;
    width: 85% !important;
    height: 2.8rem !important;
    >.icon-search{
      display: none !important;
    }
    >.input-kw-form {
      > input {
        background-color: #F0F0F0 !important;
        padding-left: 1rem !important;
      }
    }
  }
}
.data-status{
  background-color: #fff;
  padding-bottom: 1.5rem;
}

/*右侧滑出的链接*/
.slide-right{
  width: 50%;
  position: fixed;
  top: 0;
  right: -50%;
  bottom: 0;
  background-color: @default-color;
  z-index: 18;
  >ul{
    padding-top: 4.8rem;
    >li{
      height: 4.4rem;
      line-height: 4.4rem;
      border-left: 5px solid #fff;
      font-size: 1.8rem;
      >a{
        padding-left: 20px;
        display: block;
        color: @default-font-color;
      }
      &.active{
        border-color: #4081d6;
        background: #f5f5f5;
      }
    }
  }
  >.downloadApp {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #2c2d2f;
    >a{
      display: block;
      color: #fff;
    }
  }
}