@import "../variables.less";
@import "../mixins.less";

div {
    padding: 0 15px;
}

header {    
    position: relative;
    .right {        
        text-align: center;
        font-size: 18px;
        line-height: 52px;
    }    

    box-shadow: 0 0.1rem 0.3rem 0 rgba(0,0,0,.15);

    .iconfont {
        position: absolute;
        left: 15px;
        top: 0;
        height: 52px;
        line-height: 52px;
    }
}

dl {    
    padding: 10px 0;
    font-size: 15px;
    dt {
        display: block;
        float: left;
    }

    dd {
        display: block;
        margin-left: 220px;
        color: #999;
        text-align: right;
    }

    .clearfix();
}