@import "../variables.less";
@import "../mixins.less";

@import "../components/xf-dynamic.less";

body {
    background-color: #f0f0f0 ;
    padding-bottom : 60px ;
}

.xf-dynamic {
    p {        
        display: block !important;        
    }

    padding: 15px 0;
}

.xf-dynamics {
    padding: 15px;
    padding-top: 0;
    background-color: #fff;
}

.no-more {
    font-size: 14px;
    line-height: 50px;
    text-align: center;
}

.consult-phone{
    bottom : 0 ;
    display : block ;
    font-size : 14px ;
    left : 0 ;
    line-height : 50px ;
    position : fixed ;
    text-align : center ;
    color : #fff ;
    background-color : #4081d6 ;
    width : 100% ;
}