/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房H5前端MVC框架
 2. 文件名称：xf -> list.less (新房列表页)
 3. 作者：tangxuyang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 @import "../variables.less";
 @import "../mixins.less";
 @import "../components/filter.less";
 @import "../components/xf-items.less";
 @import "../components/conning-tower.less";
 @import "../components/scene.less";
 @import "./ads.less";

body {
  background-color: #fff ;
}

 .fixed-header {    
    .conning-tower  {
      padding : 10px 0 0 0 ;
    }
 }

.total {
  position: relative;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #4081d6;
  //border-bottom: 1px solid #e4e4e4;  
  .count {
    color: #fc4c5a;
  }
  display: none;
}

.no-data {  
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 25px 15px;
  margin-bottom: 15px;
  line-height: 24px;
  p:nth-child(2){
    color: #999;
  }

  button {
    border-radius: 4px;
    text-align: center;
    color: #92a7c3;
    line-height: 20px;
    padding: 12px 0;    
    height: 44px;
    width: 100%;
    border: 0;
    margin-top: 16px;
    background-color: #f6f6f6;
  }
}

.container {
  // .has-margin {
  //   margin-top: 50px;
  // } 
  padding-top : 87px ; 
}

#list {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;  

  &::before {
    position:  absolute;
    content: '';      
    border-bottom: 1px solid #e8e8e8;
    height: 1px;
    top: -2px;      
    transform: scaleY(.5);
    -webkit-transform: scaleY(.5);
    left: 0;
    width: 100%;
  }
}