/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：wkh5
 2. 文件名称：src -> less -> components -> common.less ()
 3. 作者：tangxuyang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 @import "../variables.less";
 @import "../mixins.less";

 .column-container{
    >dl {
        font-size: 1.4rem;
        color: #000;
    
        dt {
            color: #7C7C7C;
            margin-top: 1.5rem;
            margin-bottom: .5rem;
        }
    
        dd {
            line-height: 2rem;
        }
     } 
 }
   
 .one-column-container {
    >dl{                
        //display: flex;
        .flex();
        color: #000;
        font-size: 1.4rem;
        line-height: 2.9rem;
        dt{
            margin-right: 1.5rem;
            color: #7C7C7C;
            white-space: nowrap;
        } 
        dd {
            .text-ellipsis();
            //flex-grow: 1;
            .flex-grow(1);
            &.has-arrow{
                a{
                    color: #4081D6;
                    .text-ellipsis();
                    display: block;
                    position: relative;
                    &::after{
                        font-family:"iconfont" !important;
                        content: '\e6a7';
                        position: absolute;
                        right: 0;   
                        font-size: 1.8rem;                     
                    }
                }
            }
        }       
    }
 }

 .two-column-container {
     .clearfix();

     >dl{
         width: 50%;
         float: left;
         //display: flex;
         .flex();
         color: #000;
         font-size: 1.4rem;
         line-height: 2.9rem;
         dt{
             margin-right: 1.5rem;
             color: #7C7C7C;
             white-space: nowrap;
         } 
         dd {
             .text-ellipsis();
         }       
     }

 }

 .box {
     //display: flex;
     .flex();
     .left {
        
     }
     .right {

     }
 }

 .has-bottom-border {
     border-bottom: 1px solid #E4E4E4;
     margin-bottom: .75rem;
     padding-bottom: 1.5rem;
 }