/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：yfyk2h5
 2. 文件名称：src -> less -> components -> rent-item.less (租房列表中的一项)
 3. 作者：tangxuyang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 @import "../variables.less";
 @import "../mixins.less"; 

.rent-item {    
    &.box {
        border-bottom: 1px solid  #E4E4E4;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;  
        &:last-child{
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }      
        .left {                               
            //flex-shrink: 0;
            .flex-shrink(0);
            img {
                width: 13.05rem;
                height: 8.7rem;
            }
        }
        .right {                      
            margin-left: 1rem;
            .text-ellipsis();
            h4 {
                font-weight: normal;
                color: #000;
                font-size: 1.6rem;                
                .text-ellipsis();
                margin-bottom: 1rem;
                line-height: 1;
            }
            .base-info {                
                color: #4E4E4E;
                font-size: 1.1rem;
                line-height: 1;
                .text-ellipsis() ;
            }
            .tags {
                margin-top: .8rem;
                margin-bottom: .8rem;
                white-space: normal;

                .tag {
                    font-size: 1rem;
                    padding: 2px 5px;
                }
            }
            .unit-price {                
                color: #FC4C5A;
                font-size: 1.6rem;
                line-height: 1;
            }
        }
    }
}