/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：wkh5
 2. 文件名称：src -> less -> components -> tags.less (常用的标签)
 3. 作者：tangxuyang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 @import "../variables.less";
 @import "../mixins.less";

 .tag {     
     font-size: 1.2rem;
     //line-height: 2rem;
     color:  #4E4E4E;
     background: #F0F0F0;
     //padding: .6rem .5rem;
     .border-radius(4px);
     margin-right: .6rem;
     letter-spacing: 0.5px;
 }

