/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：wkh5
 2. 文件名称：src -> less -> components -> tags.less (常用的标签)
 3. 作者：tangxuyang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 .wk-tags {
     .clearfix() ;
     div {        
        float : left ;
        .flex() ;
        .justify-content(center) ;
        .align-items(center) ;
        height : 15px ;           
        margin : 0 5px 2px 0 ;
        padding : 2px 3px ;
        .pixel-borders(#79a6e2, 1px) ;
        /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
        所有高亮标签的样式
        -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        &.highlight {
            border-color : transparent ;
            &::after {
                display: none ;
            }
            span {
                color : #fff ;
            }
        }
        /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
        二手房、租房标签 - 降价
        -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        &.depreciate {
            background : linear-gradient( 90deg , #FBD059 100% , #FFB33C 100% ) ; 
        }
        /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
        二手房、租房标签 - 新上
        -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        &.new {
            background : linear-gradient( 90deg , #FA7A6B 0% , #FC4C5A 100% ) ;
        }
        /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
        二手房标签 - 满二或者满五唯一
        -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        &.over {
            background : linear-gradient( 90deg , #3B9FFF 100% , #4081D6 100% ) ;                
        }
        /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
        新房标签 - 有优惠
        -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        &.promotion {
            background : linear-gradient( 90deg , #F95541 78% , #FC4C5A 100% ) ;
        }
        /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
        新房、租房标签 - 近地铁
        -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        &.near-subway {
            background : linear-gradient( 90deg , #3B9FFF 100% , #4081D6 100% ) ;
        }
        span {                       
            color : #79a6e2 ;
            display : inline-block ;
            font-size : 12px ;                        
            .scale(0.83 , 0.83) ;
        }
     }
 } 