/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房H5移动端FE-MVC框架
 2. 文件名称：tips.less (提示)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.wk-tips {
    background-color : rgba(0, 0, 0, .7)  ;  
    .border-radius(3px) ;    
    color : #fff ;
    display : none ;
    font-size : 1.2rem ;
    line-height : 1.5 ;
    padding : .8rem 2rem ;
    position : fixed ;
    text-align : center ;
    z-index : 99999 ;
}